.tasks_and_visuals{
    display: flex;
    padding: 0px 50px;
}

.task-visuals{
    width : 40%;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.tasks{
    width : 60%;
    border-right: 2px solid white;
    
}

.task-visuals h1{
    font-size: 24px;
    margin: auto;
    width: fit-content;
    margin-top: 10px;
    text-decoration: underline;
}

.tasks h1{
    font-size: 24px;
    margin: auto;
    width: fit-content;
    margin-top: 10px;
    text-decoration: underline;
}

.incomplete{
    display: flex;
    width: fit-content;
    margin: auto;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.complete{
    display: flex;
    width: fit-content;
    margin: auto;
    font-size: 16px;
    margin-top: 10px;    
}
.task-li{
    padding: 10px 10px;
    border-bottom: 2px solid white;
}

.task-header{
    display: flex;
    font-size: 20px;
}

.task-header h3{
    padding-left: 5px;
    text-decoration: underline;
}

.task-description{
    padding-top: 10px;
    font-size: 18px;
    width: 90%;
}

.chart-container{
    position: relative;
    margin-top: 10px;
    display: flex;
}

.chart-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.empty-block{
    width: 60%;
    /* height: 100px; */
    border: 2px solid white;
    margin: auto;
    position: absolute;
    right: 20%;
}
.description-and-submit{
    display: flex;
}

.description-and-submit button{
    margin-top: 10px;
    border-radius: 10px;
    background: #0095a0;
    box-shadow: none;
    height: 45px;
    margin-left: 20px; 
    transition: 0.3s;
}
.description-and-submit button:hover{
    color: white;
    background: black;
}
.task-ul{
    overflow: scroll;
}
.link-edit{
    display: flex;
    justify-content: space-between;
}
.no-work-link{
    padding-top: 10px;
    font-size: 18px;
    color: grey;
}
.work-link{
    padding-top: 10px;
    font-size: 18px;
    color: #33bdc6;
    transition: .3s;
}
.work-link:hover{
    color: #0095a0;
}
.edit-work-link{
    padding: 10px 0px;
}
.edit-work-link button{
    margin-left: 10px;
    /* border: none; */
    padding: 5px 5px;
    border-radius: 5px;
    background: white;
    transition: .3s;
}
.edit-work-link button:hover{
    background: black;
    color: white;
}
.edit-work-link input{
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
}

.fa-check-circle{
    color:  rgb(0, 200, 0);
}
.fa-times-circle{
    color: #da4f3b;
}