.student{
    margin-top: 102px;
}

.task-navigation{
    display: flex;
    font-size: 26px;
    width: fit-content;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left{
    color: #33bdc6;
    margin-right: 20px;
    margin-left: 20px;
}

.right{
    color: #33bdc6;
    margin-right: 20px;
    margin-left: 20px;
}

.left:hover{
    cursor: pointer;
    color: #0095a0;
}

.right:hover{
    cursor: pointer;
    color: #0095a0;
}
.seperator{
    border-bottom: 2px solid white;
}
.objective{
    width: fit-content;
}
.student-tabs{
    box-sizing: border-box;
    border-bottom: 2px solid white;
}
.student-tabs p{
    width: fit-content;
    padding: 15px 30px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    font-size: 20px;
    transition: 0.3s;
}
.student-tabs p:hover{
    cursor: pointer;
    background: white;
    color:black;
}
.tab-container{
    margin: auto;
    width: fit-content;
    display: flex;    
}

.no-student-objectives{
    margin-top: 102px;
    height: 50px;
    padding-top: 30px;
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
}