.student{
    margin-top: 102px;
}

.task-navigation{
    display: flex;
    font-size: 26px;
    width: fit-content;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left{
    color: #33bdc6;
    margin-right: 20px;
    margin-left: 20px;
}

.right{
    color: #33bdc6;
    margin-right: 20px;
    margin-left: 20px;
}

.left:hover{
    cursor: pointer;
    color: #0095a0;
}

.right:hover{
    cursor: pointer;
    color: #0095a0;
}
.seperator{
    border-bottom: 2px solid white;
}
.objective{
    width: fit-content;
}