.admin-task-tabs-container{
    border-bottom: 2px solid white;
    
}
.admin-task-tabs{
    width: fit-content;
    margin: auto;
    display: flex;
    
}
.admin-task-tabs p{
    height: 22px;
    font-size: 20px;
    padding: 10px 20px;
    border-right: 2px solid white ;
    border-left: 2px solid white ;
    transition: .3s;
}

.admin-task-tabs p:hover{
    background: white;
    color: black;
}
.admin-tasks-ul{
    height: 70vh;
    overflow: scroll;
}
.admin-task{
    box-sizing: border-box;
    border-bottom: 2px solid white;
    padding: 20px 45px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.fa-trash-alt{
    padding-top: 5px;
    color: #0095a0;
    font-size: 20px;
    transition: .3s;
}

.fa-trash-alt:hover{
    color: #da4f3b;
}

.admin-task-button{
    border-radius: 10px;
    background: #0095a0;
    box-shadow: none;
    height: 33px;
    margin-left: 20px; 
    transition: 0.3s;
}

.admin-task-button:hover{
    color:  rgb(0, 200, 0);
    background: black;
}

.task-display-bottom{
    width: 285px;

}
.task-display-bottom a{
    color: rgb(0, 149, 160);
}

.task-display-bottom a:hover{
    color: #33bdc6

}

.task-display-top{
    display: flex;
    width: 305px;
}
.task-display-top i{
    padding-right: 20px;
    font-size: 20px;

}

.task-display-top h1{
    font-size: 19px;
}

.task-display-top h2{
    font-size: 16px;
    text-decoration: underline;
}

.highlight{
    color: #e49025;
}

.task-aproved{
    padding-top: 5px;
    border-radius: 10px;
    color:  rgb(0, 200, 0);
    background: black;
    box-shadow: none;
    height: 33px;
    margin-left: 20px; 
}
