.sign-in{
    min-width: 400px;
    width: 40%;
    margin: auto;
    margin-top: 60px;
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: black;
    border: 2px solid white;
}
.sign-in img{
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}
.sign-in button{
    cursor: not-allowed;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    border-radius: 10px;
    background: black;
    opacity: 0.6;
    color: white;
    padding: 15px 15px; 
    transition: 0.3s;
}
.sign-in-check{
    border: 1px solid white;
    color: white;
}
.sign-in-check:hover{
    opacity: 1;
    border: 1px solid #00BFFF;
    color: #00BFFF;
    cursor: pointer;
}
.sign-in-form{
    color: grey;
    font-size: 20px;
    margin: auto;
    width: 60%;

}
.sign-in-form input{
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
}
.errors{
    color: red;
    font-size: 20px;
}

